// Custom style...

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-sans {
    font-family: Nunito, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */

// Change this breakpoint if you change the breakpoint of the navbar
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.bg-indigo {
    background-color: #6574cd !important;
}

.h-5 {
    height: 1.25rem !important;
}

.w-5 {
    height: 1.25rem !important;
}

.flex-1 {
    flex: 1 1 0%;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        max-width: 1250px;
    }
}

.bg-light {
    background: #f3f4f6 !important;
}

.card {
    border-radius: 0.475rem;
    border: 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f9fafb;
    border-top: 0;
}

.card-footer:last-child {
    border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
    width: 220px;
}

.small {
    font-size: 0.875rem !important;
}

html,
body {
    margin: 0;
    height: 100%;
}

.area {
    background: #242646;
    background: -webkit-linear-gradient(left,#8f94fb, #4e54c8);
        width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900");

:root {
    --text-color: hsla(210, 50%, 85%, 1);
    --shadow-color: hsla(210, 40%, 52%, 0.4);
    --btn-color: rgb(121, 10, 222);
    --bg-color: #141218;
}

.btn-edit-1 {
    position: relative;
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;

    font-family: "Source Code Pro";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--text-color);

    background-color: #9395ce;
    box-shadow: rgb(174 139 206 / 40%) 2px 2px 22px;
    border-radius: 4px;
    z-index: 0;
    overflow: hidden;
}

.btn-edit-1:focus {
    outline-color: transparent;
    box-shadow: rgb(121 10 222 / 40%) 2px 2px 22px;
}

#app {
    margin: 0;
    height: 100%;
}

.right::after,
.btn-edit-1::after {
    content: var(--content);
    display: block;
    position: absolute;
    white-space: nowrap;
    padding: 40px 40px;
    pointer-events: none;
}

.btn-edit-1::after {
    font-weight: 200;
    top: -30px;
    left: -20px;
}

.right,
.left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.right {
    left: 66%;
}
.left {
    right: 66%;
}
.right::after {
    top: -30px;
    left: calc(-66% - 20px);

    background-color: var(--bg-color);
    color: transparent;
    transition: transform 0.4s ease-out;
    transform: translate(0, -90%) rotate(0deg);
}

.btn-edit-1:hover .right::after {
    transform: translate(0, -47%) rotate(0deg);
}

.btn-edit-1 .right:hover::after {
    transform: translate(0, -50%) rotate(-7deg);
}

.btn-edit-1 .left:hover ~ .right::after {
    transform: translate(0, -50%) rotate(7deg);
}

/* bubbles */
.btn-edit-1::before {
    content: "";
    pointer-events: none;
    opacity: 0.6;
    background: radial-gradient(
            circle at 20% 35%,
            transparent 0,
            transparent 2px,
            var(--text-color) 3px,
            var(--text-color) 4px,
            transparent 4px
        ),
        radial-gradient(
            circle at 75% 44%,
            transparent 0,
            transparent 2px,
            var(--text-color) 3px,
            var(--text-color) 4px,
            transparent 4px
        ),
        radial-gradient(
            circle at 46% 52%,
            transparent 0,
            transparent 4px,
            var(--text-color) 5px,
            var(--text-color) 6px,
            transparent 6px
        );

    width: 100%;
    height: 300%;
    top: 0;
    left: 0;
    position: absolute;
    animation: bubbles 12s linear infinite both;
}

@keyframes bubbles {
    from {
        transform: translate();
    }
    to {
        transform: translate(0, -66.666%);
    }
}

.height-100 {
    height: 100%;
}

.modal-header {
    background-color: #9395ce;
}

.no-border {
    border: 0 !important;
}

.modal-dialog .heading {
    padding: 0.3rem;
    margin: 0;
    font-size: 1.15rem;
    color: #fff;
}

.color-modal-header {
    color: #9395ce;
}

.btn-valid-modal {
    margin: 0.375rem;
    color: #fff;
    background-color: #9395ce !important;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
        0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
}

.btn-dismis-modal {
    color: #9395ce !important;
    background-color: transparent !important;
    border: 2px solid #9395ce !important;
    margin: 0.375rem;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
        0 2px 10px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    -webkit-transition: color 0.15s ease-in-out,
        background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
}

a.waves-effect,
a.waves-light {
    display: inline-block;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.vld-overlay .vld-background {
    left: 0;
    position: absolute;
    top: 0;
    background: -webkit-linear-gradient(left,#8f94fb, #4e54c8) !important;
    opacity: 1 !important;
    transition: height 0.2s linear;
    width: 100%;
    height: 100vh;
}

.height-0 {
    height: 0px;
}

.animation__shake {
    -webkit-animation: shake 1.5s;
    animation: shake 1.5s;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: shake;
}

.vld-icon {
    background-image: url(https://www.ycraft.fr/storage/img/logo.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation: shake 1.5s;
    animation: shake 1.5s;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: shake;
}

.vld-icon svg {
    display: none !important;
}

.bg-purple-me {
    background-color: #9395ce;
}

table {
    border-collapse: separate;
    border-spacing: 0px 4px;
}

.bg-19191d {
    background-color: #19191d !important;
}

.p-top-table {
    padding: 17px 0px 17px 10px !important;
}

.bg-navbar-deg {
    background: -webkit-linear-gradient(left,#8f94fb, #4e54c8) !important;
}

.table-header-deg {
    background: -webkit-linear-gradient(left,#8f94fb, #4e54c8) !important;
    --bs-table-bg: -webkit-linear-gradient(left, #8f94fb, #4e54c8);
    --bs-table-striped-bg: #cbddec;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #c1d2df;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #c6d8e5;
    --bs-table-hover-color: #6a5b5b;
    color: #fff;
    border-color: #c1d2df;
}

.profile-avatar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

.profile-description {
    text-align: right;
    margin-right: 10px;
}

.profile-title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.profile-description p {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.profile-description-text {
    font-size: 12px;
    color: #ffbfcf;
    text-transform: uppercase;
    font-weight: 700;
}

.profile-head {
    position: relative;
}

.avatar-head {
    border-radius: 5px;
}

.profile-avatar:hover p{margin-right:5px}

.text-nav-head {
    margin-bottom: 0;
    margin-top: 0;
    height: 20px;
}

.back-btn {
    text-decoration: none;
    display: inline-block;
    color: rgba(255,255,255,0.45);
    background: rgba(255,255,255,0.15);
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.back-btn i {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
}

.back-btn:hover{color:rgba(255,255,255,0.75)}
.back-btn:hover i{margin-right:5px}
.back-btn span{display:none}
.back-btn span{display:inline-block !important}

.width-btn-back {
    width: 170px;
}

.go-next-line {
    overflow-wrap: anywhere;
}

.page-link:focus {
    z-index: 1 !important;
    color: #3490dc !important;
    background-color: #fff !important;
    outline: none!important;
    box-shadow: none !important;
}

.add-btn {
    text-decoration: none;
    display: inline-block;
    color: rgba(255,255,255,0.45);
    background: rgb(96 102 214);
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.add-btn i {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
}

.add-btn:hover{color:rgba(255,255,255,0.75)}

.left-page-btn {
    text-decoration: none;
    display: inline-block;
    color: rgba(255,255,255,0.45);
    background: #8f94fb;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
    border: 0px;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.left-page-btn i {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
}

.left-page:hover{color:rgba(255,255,255,0.75)}

.right-page-btn {
    text-decoration: none;
    display: inline-block;
    color: rgba(255,255,255,0.45);
    background: #4e54c8;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 40px;
    cursor: pointer;
    border: 0px;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.right-page-btn i {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
}

.right-page:hover{color:rgba(255,255,255,0.75)}