@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900);
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: Nunito, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Dropdown Menu Animation for Bootstrap Navbar
 * https://startbootstrap.com/snippets/animated-navbar-dropdown
 */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.bg-indigo {
  background-color: #6574cd !important;
}

.h-5 {
  height: 1.25rem !important;
}

.w-5 {
  height: 1.25rem !important;
}

.flex-1 {
  flex: 1 1 0%;
}

.bg-light {
  background: #f3f4f6 !important;
}

.card {
  border-radius: 0.475rem;
  border: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: #f9fafb;
  border-top: 0;
}

.spinner {
  position: absolute;
  z-index: 999999;
  top: 44%;
  right: 44%;
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.btn-edit-cards-admin {
  width: 40px !important;
  height: 40px !important;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
.loading-modal-color-icon {
  color: rgba(147, 149, 206, 0.2) !important;
}

.opacity-02 {
  opacity: 0.2;
}

.card-footer:last-child {
  border-radius: 0 0 0.475rem 0.475rem;
}

.dropdown-menu {
  width: 220px;
}

.opacity-05 {
  opacity: 0.5;
}

.small {
  font-size: 0.875rem !important;
}

html,
body {
  margin: 0;
  height: 100%;
}

.area {
  background: #242646;
  background: -webkit-linear-gradient(left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, 0.4);
  --btn-color: rgb(121, 10, 222);
  --bg-color: #141218;
}

.btn-edit-1 {
  position: relative;
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--text-color);
  background-color: #9395ce;
  box-shadow: rgba(174, 139, 206, 0.4) 2px 2px 22px;
  border-radius: 4px;
  z-index: 0;
  overflow: hidden;
}

.btn-edit-1:focus {
  outline-color: transparent;
  box-shadow: rgba(121, 10, 222, 0.4) 2px 2px 22px;
}

#app {
  margin: 0;
  height: 100%;
}

.right-app::after,
.btn-edit-1::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  pointer-events: none;
}

.btn-edit-1::after {
  font-weight: 200;
  top: -30px;
  left: -20px;
}

.right-app,
.left-app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.right-app {
  left: 66%;
}

.left-app {
  right: 66%;
}

.right-app::after {
  top: -30px;
  left: calc(-66% - 20px);
  background-color: var(--bg-color);
  color: transparent;
  transition: transform 0.4s ease-out;
  transform: translate(0, -90%) rotate(0deg);
}

.btn-edit-1:hover .right-app::after {
  transform: translate(0, -47%) rotate(0deg);
}

.btn-edit-1 .right-app:hover::after {
  transform: translate(0, -50%) rotate(-7deg);
}

.btn-edit-1 .left-app:hover ~ .right-app::after {
  transform: translate(0, -50%) rotate(7deg);
}

/* bubbles */
.btn-edit-1::before {
  content: "";
  pointer-events: none;
  opacity: 0.6;
  background: radial-gradient(circle at 20% 35%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 75% 44%, transparent 0, transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px), radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);
  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-animation: bubbles 12s linear infinite both;
          animation: bubbles 12s linear infinite both;
}

@-webkit-keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
.height-100 {
  height: 100%;
}

.modal-header {
  background-color: #9395ce;
}

.no-border {
  border: 0 !important;
}

.modal-dialog .heading {
  padding: 0.3rem;
  margin: 0;
  font-size: 1.15rem;
  color: #fff;
}

.color-modal-header {
  color: #9395ce;
}

.btn-valid-modal {
  margin: 0.375rem;
  color: #fff;
  background-color: #9395ce !important;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border: 0;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
}

.btn-dismis-modal {
  color: #9395ce !important;
  background-color: transparent !important;
  border: 2px solid #9395ce !important;
  margin: 0.375rem;
  text-transform: uppercase;
  word-wrap: break-word;
  white-space: normal;
  cursor: pointer;
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.84rem 2.14rem;
  font-size: 0.81rem;
}

a.waves-effect,
a.waves-light {
  display: inline-block;
}

.waves-effect {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.vld-overlay .vld-background {
  left: 0;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(left, #8f94fb, #4e54c8) !important;
  opacity: 1 !important;
  transition: height 0.2s linear;
  width: 100%;
  height: 100vh;
}

.height-0 {
  height: 0px;
}

.animation__shake {
  -webkit-animation: shake 1.5s;
  animation: shake 1.5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: shake;
          animation-name: shake;
}

.vld-icon {
  background-image: url(https://www.ycraft.fr/storage/img/logo.png);
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: shake 1.5s;
  animation: shake 1.5s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-name: shake;
          animation-name: shake;
}

.vld-icon svg {
  display: none !important;
}

.bg-purple-me {
  background-color: #9395ce !important;
}

.hiddenRow {
  padding: 0 !important;
}

table {
  border-spacing: 0px 4px;
}

.bg-19191d {
  background-color: #19191d !important;
}

.p-top-table {
  padding: 17px 0px 17px 10px !important;
}

.bg-navbar-deg {
  background: -webkit-linear-gradient(left, #8f94fb, #4e54c8) !important;
}

.table-header-deg {
  background: -webkit-linear-gradient(left, #8f94fb, #4e54c8) !important;
  --bs-table-bg: -webkit-linear-gradient(left, #8f94fb, #4e54c8);
  --bs-table-striped-bg: #cbddec;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #c1d2df;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c6d8e5;
  --bs-table-hover-color: #6a5b5b;
  color: #fff;
  border-color: #c1d2df;
}

.profile-avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}

.profile-description {
  text-align: right;
  margin-right: 10px;
}

.profile-title {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.profile-description p {
  transition: all 0.2s ease-out;
}

.profile-description-text {
  font-size: 12px;
  color: #ffbfcf;
  text-transform: uppercase;
  font-weight: 700;
}

.profile-head {
  position: relative;
}

.avatar-head {
  border-radius: 5px;
}

.profile-avatar:hover p {
  margin-right: 5px;
}

.text-nav-head {
  margin-bottom: 0;
  margin-top: 0;
  height: 20px;
}

.back-btn {
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.45);
  background: rgba(255, 255, 255, 0.15);
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-out;
}

.back-btn i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

.back-btn:hover {
  color: rgba(255, 255, 255, 0.75);
}

.back-btn:hover i {
  margin-right: 5px;
}

.back-btn span {
  display: none;
}

.back-btn span {
  display: inline-block !important;
}

.width-btn-back {
  width: 170px;
}

.go-next-line {
  overflow-wrap: anywhere;
}

.page-link:focus {
  z-index: 1 !important;
  color: #3490dc !important;
  background-color: #fff !important;
  outline: none !important;
  box-shadow: none !important;
}

.add-btn {
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.45);
  background: #6066d6;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-out;
}

.add-btn i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

.add-btn:hover {
  color: rgba(255, 255, 255, 0.75);
}

.left-page-btn {
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.45);
  background: #8f94fb;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
  border: 0px;
  font-size: 14px;
  transition: all 0.2s ease-out;
}

.left-page-btn i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

.left-page:hover {
  color: rgba(255, 255, 255, 0.75);
}

.right-page-btn {
  text-decoration: none;
  display: inline-block;
  color: rgba(255, 255, 255, 0.45);
  background: #4e54c8;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 40px;
  cursor: pointer;
  border: 0px;
  font-size: 14px;
  transition: all 0.2s ease-out;
}

.right-page-btn i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.2s ease-out;
}

.right-page:hover {
  color: rgba(255, 255, 255, 0.75);
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:-webkit-autofill ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
.color-primary-me {
  color: #6066d6;
}

.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid #6066d6;
  box-shadow: 0 0px 0 0 #6066d6;
}

.active-pink input.form-control[type=text] {
  border-bottom: 2px solid #6066d6;
  border-top: 0px solid;
  border-left: 0px solid;
  border-right: 0px solid;
  background: #19191d;
  color: #ffff;
}

.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

.active-purple input.form-control[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}

.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input.form-control[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

:root {
  --v-calendar-picker-color: #1b1e23 !important;
  --v-calendar-input-bg-color:#1b1e23 !important;
  --v-calendar-select-bg-color: #1b1e23 !important;
  --v-calendar-border-color: #323B43 !important;
  --v-calendar-triangle-color: #1b1e23 !important;
  --v-calendar-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  --v-calendar-top-shadow: 3px -14px 30px 0px rgba(0, 0, 0, 0.2) !important;
  --v-calendar-text-color:#b8b8b9 !important;
  --v-calendar-action-color: #b8b8b9 !important;
  --v-calendar-text-disabled-color: #b8b8b97c !important;
  --v-calendar-view-button-color:#b8b8b9 !important;
  --v-calendar-datepicker-icon-color: #b8b8b9 !important;
  --v-calendar-datepicker-icon-size: 1.1rem !important;
  --v-calendar-active-bg-color: #6a70de !important;
  --v-calendar-active-text-color:#323B43 !important;
  --v-calendar-range-bg-color: #282c34 !important;
  --v-calendar-view-button-font-weight: 00 !important;
  --v-calendar-view-button-font-size: 1.1rem !important;
  --v-calendar-range-text-color: #ddd !important;
  --v-calendar-range-radius: 0% !important;
  --v-calendar-day-hover-bg-color:#6a70de !important;
  --v-calendar-day-width: 45px !important;
  --v-calendar-day-height: 45px !important;
  --v-calendar-day-font-size: 0.8rem !important;
  --v-calendar-day-font-weight: 500 !important;
  --v-calendar-input-border: 1px solid #383e48 !important;
  --v-calendar-input-text-color: #323B43 v;
  --v-calendar-input-font-size: 0.9rem !important;
  --v-calendar-input-font-weight: 500 !important;
  --v-calendar-content-radius: 6px !important;
  --v-calendar-day-name-font-size: 0.9rem !important;
  --v-calendar-day-name-font-weight: 600 !important;
  --v-calendar-day-name-color:#323B43 !important;
  --v-calendar-year-font-size: 1.1rem !important;
  --v-calendar-year-color: #b8b8b9 !important;
  --v-calendar-year-font-weight: 500 !important;
  --v-calendar-input-bg-disable-color:rgb(245, 245, 245) !important;
  --v-calendar-input-text-disable-color:#b8b8b9 !important;
  --v-calendar-year-disabled-color: #b8b8b9 !important;
  --v-calendar-year-disabled-bg-color: transparent !important;
  --v-calendar-year-padding: 10px !important;
  --v-calendar-year-border: none !important;
  --v-calendar-year-border-radius: none !important;
  --v-calendar-month-font-size: 1.1rem !important;
  --v-calendar-month-color: #b8b8b9 !important;
  --v-calendar-month-font-weight: 500 !important;
  --v-calendar-month-disabled-color: #b8b8b9 !important;
  --v-calendar-month-disabled-bg-color: transparent !important;
  --v-calendar-month-padding: 8px !important;
  --v-calendar-month-border: none !important;
  --v-calendar-month-border-radius: none !important;
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #6a70de;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100 ;
}

.l-navbar {
  position: fixed;
  top: 0;
  width: var(--nav-width);
  height: 100vh;
  background: #363535;
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.transition-navbar {
  transition: 0.5s;
}

.active-app {
  color: var(--white-color);
}

.active-app::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.height-100 {
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .navbar-pd {
    margin-left: calc(var(--nav-width));
  }

  .header {
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .l-navbar {
    padding: 7rem 1rem 0 0;
  }

  .show-pd {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    margin-left: calc(var(--nav-width) + 156px);
  }
}
@media screen and (max-width: 768px) {
  .show-pd {
    width: calc(var(--nav-width) + 156px);
  }

  .l-navbar {
    left: -30%;
    padding: 7rem 1rem 0 0;
  }
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 0 0.5rem 1.5rem;
}

.container-pd {
  padding: 0rem 3.5rem 0rem 0rem !important;
}

.floatingLabelDate {
  margin-left: 30px;
  line-height: unset !important;
  color: #f7bfcf !important;
}

.floatingLabelSearch {
  line-height: unset !important;
  color: #f7bfcf !important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.vertical-align-td {
  vertical-align: middle !important;
}

@media (max-width: 1199.98px) {
  .v-calendar .input-field.long {
    min-width: 0px !important;
  }

  .v-calendar {
    max-width: 100%;
    min-width: 0px !important;
  }
}
.left-0per {
  left: 0 !important;
}

.d-none-me {
  display: none !important;
}

.min-width-24 {
  min-width: 24px;
}

.w-65 {
  width: 65% !important;
}
